@model SocialNetwork_Dal.Entities.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Styles.css" rel="stylesheet" />

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Signup</title>
</head>
<body>
    <div class="container MainContainer">


        <div class="headingSec">
            <h1>TkSocial</h1>
           
        </div>
        <div class="formSec p-3 pt-5">
            <form action="" method="post">
                <div class="mb-4">

                    <input type="email" class="form-control" id="emailid" name="Email" placeholder="Enter Email">
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                </div>
                <div class="mb-4">

                    <input type="text" class="form-control" id="firstname" name="FirstName" placeholder="Enter First Name">
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })

                </div>
                <div class="mb-4">

                    <input type="text" class="form-control" id="lastname" name="LastName" placeholder="Enter Last Name">
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })

                </div>
                <div class="mb-4">

                    <input type="text" class="form-control" id="phone" name="Phone" placeholder="Enter PhoneNumber">
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>

                <div class="mb-4">

                    <input type="password" class="form-control" id="passwordid" name="Password" placeholder="Enter Password">
                    @Html.ValidationMessageFor(model => model.
               Password, "", new { @class = "text-danger" })
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Register</button>

                </div>
            </form>
        </div>

        <div class="signupSec">
            <p class="text-center">Already Registered? @Html.ActionLink("Login", "Login")</p>

        </div>

    </div>
</body>
</html>


<script>

    if ('@TempData["message"]' != '') {
        swal({
            title: "Oh oo",
            text: '@TempData["message"]',
            icon: "error",
            button: "OK!",
        });
    }


</script>
