@model SocialNetwork_Dal.Entities.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/AccountStyles.css" rel="stylesheet" />

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Signup</title>
</head>
<body>
    <div class="container MainContainer">


        <div class="headingSec">
            <h1>TkSocial</h1>
           
        </div>
        <div class="formSec1 p-3 pt-5">
            <form action="" method="post">
                <div class="mb-4">

                    <input type="email" class="form-control" id="emailid" name="Email" placeholder="Enter Email">
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                </div>
                @*<div class="mb-4">

            <input type="text" class="form-control" id="firstname" name="FirstName" placeholder="Enter First Name">
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })

        </div>
        <div class="mb-4">

            <input type="text" class="form-control" id="lastname" name="LastName" placeholder="Enter Last Name">
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })

        </div>*@
                <div class="mb-4">

                    <input type="text" class="form-control" id="username" name="UserName" placeholder="Enter User Name">
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })

                </div>
                <div class="mb-4">

                    <input type="text" class="form-control" id="phone" name="Phone" placeholder="Enter PhoneNumber">
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
                <div class="mb-4">

                    <input type="date" class="form-control" id="date" name="Dob" placeholder="Select date">
                    @Html.ValidationMessageFor(model => model.Dob, "", new { @class = "text-danger" })
                </div>
                @* Select country *@
                <!--<div class="mb-4">

                    <select onchange="GetCountryvalue()" id="country" name="Country" class="form-control">
                    </select>
                    @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                </div>-->
                @* Select city *@
                <!--<div class="mb-4">

                    <select id="city" name="City" class="form-control">
                    </select>
                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                </div>-->

                <div class="mb-4">

                    <input type="password" class="form-control" id="passwordid" name="Password" placeholder="Enter Password">
                    @Html.ValidationMessageFor(model => model.
               Password, "", new { @class = "text-danger" })
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Register</button>

                </div>
            </form>
        </div>

        <div class="signupSec">
            <p class="text-center">Already Registered? @Html.ActionLink("Login", "Login")</p>

        </div>

    </div>
</body>
</html>

<script src="~/Scripts/jquery-3.5.0.js"></script>
<script>

    

     $.ajax({
            type: "GET",
             url: "/Accounts/GetCountryOptions",
            data: "{}",
            success: function (data) {
                console.log(data)
                if (data != null) {
                    var jsondata = JSON.parse(data);
                    console.log(jsondata)
                    var s = '<option disabled selected>Please Select a country</option>';
                    for (var i = 0; i < jsondata.length; i++) {
                        console.log('row: ', jsondata[i].Countryname)
                        s += '<option value="' + jsondata[i].CountryId + '">' + jsondata[i].Countryname + '</option>';
                    }
                }

                
                $("#country").html(s);
            }
     });


    



</script>
