<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Style1.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script defer src="https://friconix.com/cdn/friconix-0.2534.js"></script>

</head>
<body>

    @* Check if there is any incoming req  *@
    @{
        var requests = Session["frRequests"] as List<SocialNetwork_Dal.Entities.FriendReq>;
    }



    <nav class="navbar navbar-expand-lg ">

        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand ms-5" id="navlogo" href="@Url.Action("Index","User")"><h2>TK SOCIAL</h2></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item ms-3">
                        <a class="nav-link" aria-current="page" href="@Url.Action("Index","User")">Home</a>
                    </li>
                    <li class="nav-item ms-3">
                        <a class="nav-link" href="@Url.Action("PeoplesPage","User")">People</a>
                    </li>
                    <li class="nav-item ms-3">
                        <a class="nav-link" href="@Url.Action("FriendsPage","User")">My Friends</a>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link" href="#">Notifications</a>
                        </li>*@

                    <li class="nav-item ms-3">
                        <a class="nav-link" id="reqnot">


                            <img style="height:20px;" src="~/Content/images/user-48.png" />
                            @if (requests.Count > 0)
                            {
                                <span style="color:yellow;">@requests.Count</span>
                            }
                        </a>
                    </li>
                    <li class="nav-item ms-3">

                        @Html.ActionLink("Log out", "Signout", "Accounts", null, new { @class = "nav-link", style = "text-decoration:none;color:white" })
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="reqbox">

        <p>Friend Requests</p>
        @foreach (var req in requests)
        {


            <div class="d-flex  p-2">
                @if (req.RequesterPic != null && req.RequesterPic != "")
                {
                    <img style="height:75px;border-radius:10px;" src="@Url.Content(req.RequesterPic)" alt="requester pic" />

                }
                else
                {
                    <img style="height:30px;" src="~/Content/images/user.png" />
                }
                <div class="mx-3 mb-2">
                    <p>@req.RequesterName</p>
                    <div class=" d-flex justify-content-between">
                        <button class="btn btn-sm btn-light" onclick="acceptReq(@req.RequesterId)">Accept</button>
                        <button class="ms-4 btn btn-sm btn-warning">Reject</button>
                    </div>

                </div>

            </div>
        }

    </div>
    <div class="container body-content">
        @RenderBody()


    </div>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>

        function hideReqBox() {
            $(".reqbox").removeClass("reqboxactive");
        }

        $("#reqnot").click(function () {
            $(".reqbox").toggleClass("reqboxactive");
        });

        function acceptReq(userid) {

        

            $.ajax({
                type: "POST",
                url: "/User/AcceptRequest",
                data: { reqId: userid },
                success: function (data) {
                    console.log(data)
                    if (data != null) {
                        if (data.code == 1) {




                            swal({
                                title: "Success", text: "Accepted Request Success!", type:
                                    "success"
                            }).then(function () {
                                location.reload();
                            }
                            );
                        }   
                    }



                }
            });

        }

    </script>

</body>
</html>